body {
    margin: 5%;
    font-family: 'Poppins', sans-serif;
}

.skip-color {
    color: orange;
}

.diet-text {
    color: #575757;
}

.order-food {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to right, orange, tomato);
    padding: 8px 25px;
    font-weight: 400;
    border-radius: 18px;
}

section {
    display: flex;
    padding: 5px;

}

.first-container {
    width: 50%;
}


.first-container img {
    width: 74%;
}

h1 {
    font-size: 50px;
    color: #575757;
}

.baby {
    margin-top: 5%;
}

.second-section {
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    margin-top: 10%;
}

.recepies {
    text-align: center;
    margin-top: 10%;
}

.last-section {
    box-shadow: 5px 10px 40px gray;
}

.social-media {
    display: flex;
    margin-top: 8%;
    box-shadow: 1px 1px 30px gray;
    border-radius: 15px;
}

#one {
    margin: 1px 150px;
}

#two {
    margin: 1px 150px;
}

#three {
    margin: 1px 150px;
}

.footere {
    margin-top: 8%;
    text-align: center;
    background-color: #0b0d17;
    padding-top: 2%;
    padding-bottom: 10%;
}

.ptag {
    color: white;
}